{% extends "main.html" %}

{% block javascript %}
var legend = document.getElementById('legend');
legend.remove();

mapboxgl.accessToken = '{{ accessToken }}';

var map = new mapboxgl.Map({
    container: 'map',
    style: {{ style }},
    center: {{ center }},
    zoom: {{ zoom }},
    transformRequest: (url, resourceType)=> {
        return {
           url: [url.slice(0, url.indexOf("?")+1), "pluginName=PythonMapboxgl&", url.slice(url.indexOf("?")+1)].join('')
         }
    }
});

map.addControl(new mapboxgl.NavigationControl());

map.on('style.load', function() {
    
    // Add data source
    map.addSource("data", {
        "type": "geojson",
        "data": {{ geojson_data }},
        "buffer": 1,
        "maxzoom": 14
    });
    
    // Add data layer
    map.addLayer({
        "id": "circle",
        "source": "data",
        "type": "circle",
        "maxzoom": {{ maxzoom }},
        "minzoom": {{ minzoom }},
        "paint": {"circle-radius": 1}
    });

});
{% endblock %}
