{% extends "main.html" %}

<style type='text/css'>
    .legend div span {
        border-radius: 20%;
    }
</style>

{% block javascript %}
var legend = document.getElementById('legend');

mapboxgl.accessToken = '{{ accessToken }}';

var map = new mapboxgl.Map({
    container: 'map',
    style: '{{ styleUrl }}', 
    center: {{ center }},
    zoom: {{ zoom }},
    transformRequest: (url, resourceType)=> {
        if ( url.slice(0,22) == 'https://api.mapbox.com' ) {
            //Add Python Plugin identifier for Mapbox API traffic
            return {
                url: [url.slice(0, url.indexOf("?")+1), "pluginName=PythonMapboxgl&", url.slice(url.indexOf("?")+1)].join('')
            }
        }
        else {
            //Do not transform URL for non Mapbox GET requests
            return {url: url}
        }
    }
});

map.addControl(new mapboxgl.NavigationControl());

calcCircleColorLegend({{ colorStops }}, "{{ colorProperty }}");

map.on('style.load', function() {
    
    // Add geojson data source
    map.addSource("data", {
        "type": "geojson",
        "data": {{ geojson_data }},
        "buffer": 1,
        "maxzoom": 14
    });
    
    // Add data layer
    map.addLayer({
        "id": "chloropleth-fill",
        "source": "data",
        "type": "fill",
        "paint": {
            "fill-color": generatePropertyExpression("{{ colorType }}", "{{ colorProperty }}", {{ colorStops }}, "{{ defaultColor }}"),
            "fill-opacity": {{ opacity }}
        }
    }, "{{ belowLayer }}" );

    // Add data layer
    map.addLayer({
        "id": "chloropleth-line",
        "source": "data",
        "type": "line",
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            {% if lineDashArray %}
            "line-dasharray": {{ lineDashArray }},
            {% endif %}
            "line-color": "{{ lineColor }}",
            "line-width": {{ lineWidth }},
            "line-opacity": {{ opacity }}
        }
    }, "{{ belowLayer }}" );

    // Create a popup
    var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    });
    
    // Show the popup on mouseover
    map.on('mousemove', 'chloropleth-fill', function(e) {
        map.getCanvas().style.cursor = 'pointer';
        
        let f = e.features[0];
        let popup_html = '<div>';

        for (key in f.properties) {
            popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
        }

        popup_html += '</div>'
        popup.setLngLat(e.lngLat)
            .setHTML(popup_html)
            .addTo(map);
    });

    map.on('mouseleave', 'chloropleth-fill', function() {
        map.getCanvas().style.cursor = '';
        popup.remove();
    });
    
    // Fly to on click
    map.on('click', 'chloropleth-fill', function(e) {
        map.flyTo({
            center: e.lngLat,
            zoom: map.getZoom() + 1
        });
    });

});
{% endblock %}
