{% extends "base.html" %}

<!-- update legend item key style -->
{% block extra_css %}
    <style type='text/css'>
        .gradient.bordered, .legend-key.bordered { border: solid {{ lineColor }} {{ lineWidth }}px; }
    </style>
{% endblock extra_css %}

{% block legend %}

    {% if showLegend %}
        {% if extrudeChoropleth %}
            {% if colorStops and colorProperty and heightProperty %}
                {% if colorProperty != heightProperty and extrudeChoropleth %}
                    calcColorLegend({{ colorStops }}, "{{ colorProperty }} vs. {{ heightProperty }}");
                {% else %}
                    calcColorLegend({{ colorStops }}, "{{ colorProperty }}");
                {% endif %}
            {% endif %}
        {% else %}
            calcColorLegend({{ colorStops }}, "{{ colorProperty }}");
        {% endif %}
    {% endif %}

{% endblock legend %}

{% block map %}

    {% include "choropleth_layers.html" %}

{% endblock map %}
