{% extends "main.html" %}

<!-- update legend item key style -->
{% block extra_css %}
<style type='text/css'>
    .legend div span { border-radius: 20%; }
</style>
{% endblock extra_css %}

{% block javascript %}
var legend = document.getElementById('legend');

mapboxgl.accessToken = '{{ accessToken }}';

var map = new mapboxgl.Map({
    container: 'map',
    style: '{{ styleUrl }}', 
    center: {{ center }},
    zoom: {{ zoom }},
    transformRequest: (url, resourceType)=> {
        if ( url.slice(0,22) == 'https://api.mapbox.com' ) {
            //Add Python Plugin identifier for Mapbox API traffic
            return {
                url: [url.slice(0, url.indexOf("?")+1), "pluginName=PythonMapboxgl&", url.slice(url.indexOf("?")+1)].join('')
            }
        }
        else {
            //Do not transform URL for non Mapbox GET requests
            return {url: url}
        }
    }
});

var joinData = {{ joinData }};

map.addControl(new mapboxgl.NavigationControl());

calcCircleColorLegend({{ colorStops }}, "{{ colorProperty }}");

function calcNumericColorValue(num, arr) {

    var curr = arr[0];
    var diff = Math.abs (num - curr);
    for (var val = 0; val < arr.length; val++) {
        var newdiff = Math.abs (num - arr[val]);
        if (newdiff < diff) {
            diff = newdiff;
            curr = arr[val];
        }
    }
    return ({{colorStops}})[curr];

}

map.on('style.load', function() {
    
    {% if joinData %}
        var vectorColorStops = [],
            popUpKeys = [];

        // create categorical color stops for features in vector layer
        joinData.forEach(function(row, index) {
            var red = Math.max(255 - row["{{ colorProperty }}"], 0),
                green = Math.max(255 - row["{{ colorProperty }}"], 0),
                blue = Math.min(204 + row["{{ colorProperty }}"], 255);

            var color = "rgba(" + red + ", " + green + ", " + blue + ", 1)";
            vectorColorStops.push([row["id"], color]);
            
            // for adding joined data to pop-up
            popUpKeys[row["{{ dataJoinProperty }}"]] = row["{{ colorProperty }}"];
        });
    {% endif %}

    {% if vectorPolygonSource %}

        // Add vector data source
        map.addSource("vector-data", {
            type: "vector",
            url: "{{ vectorUrl }}",
        });

        // Add layer from the vector tile source with data-driven style
        map.addLayer({
            "id": "choropleth-fill",
            "type": "fill",
            "source": "vector-data",
            "source-layer": "{{ vectorLayer }}",
            "paint": {
                "fill-color": generatePropertyExpression("match", "{{ vectorJoinColorProperty }}", vectorColorStops, "{{ defaultColor }}"), 
                "fill-opacity": {{ opacity }}
            }
        }, "{{ belowLayer }}");

    {% else %}

        // Add geojson data source
        map.addSource("data", {
            "type": "geojson",
            "data": {{ geojson_data }},
            "buffer": 1,
            "maxzoom": 14
        });

        // Add data layer
        map.addLayer({
            "id": "choropleth-fill",
            "source": "data",
            "type": "fill",
            "paint": {
                "fill-color": generatePropertyExpression("{{ colorType }}", "{{ colorProperty }}", {{ colorStops }}, "{{ defaultColor }}"),
                "fill-opacity": {{ opacity }}
            }
        }, "{{ belowLayer }}" );

    {% endif %}

    // Add border layer
    map.addLayer({
        "id": "choropleth-line",
        {% if vectorPolygonSource %}
            "source": "vector-data",
            "source-layer": "{{ vectorLayer }}",
        {% else %}
            "source": "data",
        {% endif %}
        "type": "line",
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            {% if lineDashArray %}
            "line-dasharray": {{ lineDashArray }},
            {% endif %}
            "line-color": "{{ lineColor }}",
            "line-width": {{ lineWidth }},
            "line-opacity": {{ opacity }}
        }
    }, "{{ belowLayer }}" );

    // Add label layer
    map.addLayer({
        "id": "choropleth-label",
        {% if vectorPolygonSource %}
            "source": "vector-data",
            "source-layer": "{{ vectorLayer }}",
        {% else %}
            "source": "data",
        {% endif %}
        "type": "symbol",
        "layout": {
            {% if labelProperty %}
            "text-field": "{{ labelProperty }}",
            {% endif %}
            "text-size" : generateInterpolateExpression('zoom', [[0,8],[22,16]] ),
            "text-offset": [0,-1]
        },
        "paint": {
            "text-halo-color": "white",
            "text-halo-width": 1
        }
    }, "{{belowLayer}}" );

    // Create a popup
    var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    });
    
    // Show the popup on mouseover
    map.on('mousemove', 'choropleth-fill', function(e) {
        map.getCanvas().style.cursor = 'pointer';
        
        let f = e.features[0];
        let popup_html = '<div>';

        for (key in f.properties) {
            popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
        }

        popup_html += '<li><b> ' + "{{ colorProperty }}".toUpperCase() + '</b>: ' + popUpKeys[f.properties["{{ vectorJoinColorProperty }}"]] + ' </li>'

        popup_html += '</div>'
        popup.setLngLat(e.lngLat)
            .setHTML(popup_html)
            .addTo(map);
    });

    map.on('mouseleave', 'choropleth-fill', function() {
        map.getCanvas().style.cursor = '';
        popup.remove();
    });
    
    // Fly to on click
    map.on('click', 'choropleth-fill', function(e) {
        map.flyTo({
            center: e.lngLat,
            zoom: map.getZoom() + 1
        });
    });

});
{% endblock %}
