{% extends "layer.html" %}

<!-- update legend item key style -->
{% block extra_css %}
    .gradient-bar.bordered, .legend-key.bordered { border: solid {{ strokeColor }} {{ strokeWidth }}px; }
{% endblock extra_css %}

{% block extra_javascript %}
    
    {% if showLegend %}
        calcColorLegend({{ colorStops }}, "Point Density", {{ layerId }}, "{{legendKeyShape}}", {{legendGradient}}, {{legendNumericPrecision}}, "{{legendLayout}}" );
    {% endif %}

    map.on('style.load', function() {

        sourceId = "data{{ layerId }}";
        labelId = "label{{ layerId }}";
        circleClusterId = "circle-cluster{{ layerId }}";
        circleUnclusterId = "circle-unclustered{{ layerId }}";
        popupId = "popup{{ layerId }}";
        
        map.addSource(sourceId, {
            "type": "geojson",
            "data": {{ geojson_data }}, //data from dataframe output to geojson
            "buffer": 0,
            "maxzoom": {{ clusterMaxZoom }} + 1,
            "cluster": true,
            "clusterMaxZoom": {{ clusterMaxZoom }},
            "clusterRadius": {{ clusterRadius }}
        });

        map.addLayer({
            "id": labelId,
            "source": sourceId,
            "type": "symbol",
            "maxzoom": {{ maxZoom }},
            "minzoom": {{ minZoom }},
            "layout": {
                "text-field": "{point_count_abbreviated}",
                "text-size" : generateInterpolateExpression('zoom', [[0, {{ labelSize }}],[22, 3* {{ labelSize }}]] ),
            },
            "paint": {
                "text-halo-color": "{{ labelHaloColor }}",
                "text-halo-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ labelHaloWidth }}], [18,5* {{ labelHaloWidth }}]]),
                "text-color": "{{ labelColor }}"
            }
        }, "{{belowLayer}}" )

        map.addLayer({
            "id": circleClusterId,
            "source": sourceId,
            "type": "circle",
            "maxzoom": {{ maxZoom }},
            "minzoom": {{ minZoom }},
            "filter": ["has", "point_count"],
            "paint": {
                "circle-color": generateInterpolateExpression( "point_count", {{ colorStops }} ),
                "circle-radius" : generateInterpolateExpression( "point_count", {{ radiusStops }} ),
                "circle-stroke-color": "{{ strokeColor }}",
                "circle-stroke-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ strokeWidth }}], [18,5* {{ strokeWidth }}]]),
                "circle-opacity" : {{ opacity }},
                "circle-stroke-opacity" : {{ opacity }}
            }
        }, labelId);

        map.addLayer({
            "id": circleUnclusterId,
            "source": sourceId,
            "type": "circle",
            "maxzoom": {{ maxZoom }},
            "minzoom": {{ minZoom }},
            "filter": ["!has", "point_count"],
            "paint": {
                "circle-color": "{{ colorDefault }}",
                "circle-radius" : generateInterpolateExpression( 'zoom', [[0, {{ radiusDefault }} ], [22,10 * {{ radiusDefault }}]]),
                "circle-stroke-color": "{{ strokeColor }}",
                "circle-stroke-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ strokeWidth }}], [18,5* {{ strokeWidth }}]]),
                "circle-opacity" : {{ opacity }},
                "circle-stroke-opacity" : {{ opacity }}
            }
        }, circleClusterId);
        
        // Create a popup
        var popup{{ layerId }} = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });
        
        // Show the popup on mouseover
        map.on('mousemove', circleUnclusterId, function(e) {
            map.getCanvas().style.cursor = 'pointer';
            let f = e.features[0];
            let popup_html = '<div><li><b>Location</b>: ' + f.geometry.coordinates[0].toPrecision(6) + 
                ', ' + f.geometry.coordinates[1].toPrecision(6) + '</li>';

            for (key in f.properties) {
                popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
            }

            popup_html += '</div>'

            popup{{ layerId }}.setLngLat(e.features[0].geometry.coordinates)
                .setHTML(popup_html)
                .addTo(map);
        });

        map.on('mousemove', circleClusterId, function(e) {
            map.getCanvas().style.cursor = 'pointer';
            let f = e.features[0];
            let popup_html = '<div><li><b>Location</b>: ' + f.geometry.coordinates[0].toPrecision(6) + 
                ', ' + f.geometry.coordinates[1].toPrecision(6) + '</li>';

            popup_html += '<li><b>Point Count:</b>: ' + f.properties.point_count + ' </li>'

            popup_html += '</div>'

            popup{{ layerId }}.setLngLat(e.features[0].geometry.coordinates)
                .setHTML(popup_html)
                .addTo(map);
        });

        map.on('mouseleave', circleUnclusterId, function() {
            map.getCanvas().style.cursor = '';
            popup{{ layerId }}.remove();
        });

        map.on('mouseleave', circleClusterId, function() {
            map.getCanvas().style.cursor = '';
            popup{{ layerId }}.remove();
        });
        

        map.on('click', circleUnclusterId, function(e) {
            map.easeTo({
                center: e.features[0].geometry.coordinates,
                zoom: map.getZoom() + 1
            });
        });

        map.on('click', circleClusterId, function(e) {
            map.easeTo({
                center: e.features[0].geometry.coordinates,
                zoom: map.getZoom() + 1
            });
        });
    });

{% endblock extra_javascript %}
