{% extends "base.html" %}

{% block legend %}{% endblock legend %}

{% block map %}

    var layers = {{ dataLayers }};

    map.on('style.load', function() {
        
        layers.forEach(function(element, index) {
            map.addSource(element["layerName"], element["dataSource"]);
            map.addLayer(element["layer"], element["belowLayer"]);
            if (element["border"]){
                map.addLayer(element["border"], element["belowLayer"]);
            }
            if (element["extrusion"]){
                map.addLayer(element["extrusion"], element["belowLayer"]);
            }
        });

    });


{% endblock map %}
