{% extends "circle.html" %}

<!-- update legend item key style -->
{% block extra_css %}
<style>
    .gradient-bar.bordered, .legend-key.bordered { border: solid {{ strokeColor }} {{ strokeWidth }}px; }
</style>
{% endblock extra_css %}

{% block legend %}
    
    {% if showLegend %}
        {% if colorStops and colorProperty and radiusProperty %}
            calcColorLegend({{ colorStops }}, "{{ colorProperty }} vs. {{ radiusProperty }}");
        {% endif %}
    {% endif %}

{% endblock legend %}

{% block styledlayer %}

    map.addLayer({
        "id": "circle",
        "source": "data",
        "type": "circle",
        "maxzoom": {{ maxzoom }},
        "minzoom": {{ minzoom }},
        "paint": {
            {% if colorProperty %}
                "circle-color": generatePropertyExpression("{{ colorType }}", "{{ colorProperty }}", {{ colorStops }}, "{{ defaultColor }}" ),
                {% else %}
                "circle-color": "{{ defaultColor }}",
            {% endif %}
            {% if radiusProperty %}
                "circle-radius" : generatePropertyExpression("{{ radiusType }}", "{{ radiusProperty }}", {{ radiusStops }}, {{ defaultRadius }} ),
                {% else %}
                "circle-radius": {{ defaultRadius }},
            {% endif %}
            "circle-stroke-color": "{{ strokeColor }}",
            "circle-stroke-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ strokeWidth }}], [18,5* {{ strokeWidth }}]]),
            "circle-opacity" : {{ opacity }},
            "circle-stroke-opacity" : {{ opacity }}
        }
    }, "label");

{% endblock styledlayer %}
