{% extends "circle.html" %}

{% block legend %}

    {% if colorStops and colorProperty and radiusProperty %}
        calcCircleColorLegend({{ colorStops }}, "{{ colorProperty }} vs. {{ radiusProperty }}");
    {% else %}
        document.getElementById('legend').style.visibility='hidden'
    {% endif %}

{% endblock legend %}

{% block styledlayer %}

    map.addLayer({
        "id": "circle",
        "source": "data",
        "type": "circle",
        "maxzoom": {{ maxzoom }},
        "minzoom": {{ minzoom }},
        "paint": {
            {% if colorProperty %}
                "circle-color": generatePropertyExpression("{{ colorType }}", "{{ colorProperty }}", {{ colorStops }}, "{{ defaultColor }}" ),
                {% else %}
                "circle-color": "{{ defaultColor }}",
            {% endif %}
            {% if radiusProperty %}
                "circle-radius" : generatePropertyExpression("{{ radiusType }}", "{{ radiusProperty }}", {{ radiusStops }}, {{ defaultRadius }} ),
                {% else %}
                "circle-radius": {{ defaultRadius }},
            {% endif %}
            "circle-stroke-color": "{{ strokeColor }}",
            "circle-stroke-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ strokeWidth }}], [18,5* {{ strokeWidth }}]]),
            "circle-opacity" : {{ opacity }},
            "circle-stroke-opacity" : {{ opacity }}
        }
    }, "label");

{% endblock styledlayer %}
