{% extends "layer.html" %}

<!-- update legend item key style -->
{% block extra_css %}
    .gradient-bar.bordered, .legend-key.bordered { border: solid {{ strokeColor }} {{ strokeWidth }}px; }
{% endblock extra_css %}

{% block extra_javascript %}
    
    {% if showLegend %}
        {% if colorStops and colorProperty and radiusProperty %}
            calcColorLegend({{ colorStops }}, "{{ colorProperty }} vs. {{ radiusProperty }}", {{ layerId }}, "{{legendKeyShape}}", {{legendGradient}}, {{legendNumericPrecision}}, "{{legendLayout}}" );
        {% endif %}
    {% endif %}

        sourceId = "data{{ layerId }}";
        labelId = "label{{ layerId }}";
        circleId = "circle{{ layerId }}";
        popupId = "popup{{ layerId }}";

    map.on('style.load', function() {
        
        map.addSource(sourceId, {
            "type": "geojson",
            "data": {{ geojson_data }}, //data from dataframe output to geojson
            "buffer": 0,
            "maxzoom": 14
        });

        map.addLayer({
            "id": labelId,
            "source": sourceId,
            "type": "symbol",
            "maxzoom": {{ maxZoom }},
            "minzoom": {{ minZoom }},
            "layout": {
                {% if labelProperty %}
                "text-field": "{{ labelProperty }}",
                {% endif %}
                "text-size" : generateInterpolateExpression('zoom', [[0, {{ labelSize }}],[22, 3* {{ labelSize }}]] ),
                "text-offset": [0,-1]
            },
            "paint": {
                "text-halo-color": "{{ labelHaloColor }}",
                "text-halo-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ labelHaloWidth }}], [18,5* {{ labelHaloWidth }}]]),
                "text-color": "{{ labelColor }}"
            }
        }, "{{belowLayer}}" )

        map.addLayer({
            "id": circleId,
            "source": sourceId,
            "type": "circle",
            "maxzoom": {{ maxZoom }},
            "minzoom": {{ minZoom }},
            "paint": {
                {% if colorProperty %}
                    "circle-color": generatePropertyExpression("{{ colorType }}", "{{ colorProperty }}", {{ colorStops }}, "{{ defaultColor }}" ),
                    {% else %}
                    "circle-color": "{{ defaultColor }}",
                {% endif %}
                {% if radiusProperty %}
                    "circle-radius" : generatePropertyExpression("{{ radiusType }}", "{{ radiusProperty }}", {{ radiusStops }}, {{ defaultRadius }} ),
                    {% else %}
                    "circle-radius": {{ defaultRadius }},
                {% endif %}
                "circle-stroke-color": "{{ strokeColor }}",
                "circle-stroke-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ strokeWidth }}], [18,5* {{ strokeWidth }}]]),
                "circle-opacity" : {{ opacity }},
                "circle-stroke-opacity" : {{ opacity }}
            }
        }, labelId);
        
        // Create a popup
        var popup{{ layerId }} = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });
        
        // Show the popup on mouseover
        map.on('mousemove', circleId, function(e) {
            map.getCanvas().style.cursor = 'pointer';
            let f = e.features[0];
            let popup_html = '<div><li><b>Location</b>: ' + f.geometry.coordinates[0].toPrecision(6) + 
                ', ' + f.geometry.coordinates[1].toPrecision(6) + '</li>';

            for (key in f.properties) {
                popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
            }

            popup_html += '</div>'

            popup{{ layerId }}.setLngLat(e.features[0].geometry.coordinates)
                .setHTML(popup_html)
                .addTo(map);
        });

        map.on('mouseleave', circleId, function() {
            map.getCanvas().style.cursor = '';
            popup{{ layerId }}.remove();
        });
        
        // Fly to on click
        map.on('click', circleId, function(e) {
            map.easeTo({
                center: e.features[0].geometry.coordinates,
                zoom: map.getZoom() + 1
            });
        });
    });
    
{% endblock extra_javascript %}
