{% extends "main.html" %}

{% block javascript %}
mapboxgl.accessToken = '{{ accessToken }}';

var map = new mapboxgl.Map({
    container: 'map',
    style: '{{ styleUrl }}', 
    center: {{ center }},
    zoom: {{ zoom }},
    transformRequest: (url, resourceType)=> {
        if ( url.slice(0,22) == 'https://api.mapbox.com' ) {
            //Add Python Plugin identifier for Mapbox API traffic
            return {
               url: [url.slice(0, url.indexOf("?")+1), "pluginName=PythonMapboxgl&", url.slice(url.indexOf("?")+1)].join('')
             }
         }
         else {
             //Do not transform URL for non Mapbox GET requests
             return {url: url}
         }
    }
});

map.addControl(new mapboxgl.NavigationControl());

document.getElementById('legend').style.visibility = 'hidden';

map.on('style.load', function() {

    map.addSource("data", {
        "type": "geojson",
        "data": {{ geojson_data }}, //data from dataframe output to geojson
        "buffer": 0,
        "maxzoom": 14
    });

    map.addLayer({
        "id": "circle",
        "source": "data",
        "type": "heatmap",
        "maxzoom": {{ maxzoom }},
        "minzoom": {{ minzoom }},
        "paint": {
            {% if weightProperty %}
                {% if weightStops %}
                    "heatmap-weight": generateInterpolateExpression( "{{ weightProperty }}", {{ weightStops }} ),
                {% endif %}
            {% endif %}
            {% if intensityStops %}
                "heatmap-intensity": generateInterpolateExpression('zoom', {{ intensityStops }} ),
            {% endif %}
            "heatmap-radius" : generateInterpolateExpression('zoom', {{ radiusStops }} ),
            "heatmap-color" : generateInterpolateExpression('heatmap-density', {{ colorStops }} ),
            "heatmap-opacity" : {{ opacity }}
        }
    }, "{{belowLayer}}" );

});

{% endblock %}
