{% extends "layer.html" %}

{% block extra_javascript %}

    map.on('style.load', function() {

        sourceId = "data{{ layerId }}";
        layerId = "image{{ layerId }}";

      map.addSource(sourceId, {
         "type": "image",
         "url": "{{ image }}", // url or base64 encoded image
         "coordinates": {{ coordinates }}
      });

      map.addLayer({
        "id": layerId,
        "type": "raster",
        "source": sourceId
      }, "{{belowLayer}}");

    });

{% endblock extra_javascript %}
