{% extends "layer.html" %}

{% block extra_javascript %}

    {% if showLegend %}
        {% if colorStops and colorProperty and widthProperty %}
            {% if colorProperty != widthProperty %}
                calcColorLegend({{ colorStops }}, "{{ colorProperty }} vs. {{ widthProperty }}", {{ layerId }}, "{{legendKeyShape}}", {{legendGradient}}, {{legendNumericPrecision}}, "{{legendLayout}}" );
            {% else %}
                calcColorLegend({{ colorStops }}, "{{ colorProperty }}", {{ layerId }}, "{{legendKeyShape}}", {{legendGradient}}, {{legendNumericPrecision}}, "{{legendLayout}}" );
            {% endif %}
        {% elif colorStops and colorProperty %}
            calcColorLegend({{ colorStops }}, "{{ colorProperty }}", {{ layerId }}, "{{legendKeyShape}}", {{legendGradient}}, {{legendNumericPrecision}}, "{{legendLayout}}" );
        {% endif %}
    {% endif %}

    map.on('style.load', function() {
        
        {% block linestring %}

        // Add geojson data source
        map.addSource("data{{ layerId }}", {
            "type": "geojson",
            "data": {{ geojson_data }},
            "buffer": 1,
            "maxzoom": 14
        });

        // Add data layer
        map.addLayer({
            "id": "linestring{{ layerId }}",
            "source": "data{{ layerId }}",
            "type": "line",
            "layout": {
                "line-join": "round",
                "line-cap": "round"
            },
            "paint": {
                {% if lineDashArray %}
                    "line-dasharray": {{ lineDashArray }},
                {% endif %}
                {% if colorProperty %}
                    "line-color": generatePropertyExpression("{{ colorType }}", "{{ colorProperty }}", {{ colorStops }}, "{{ defaultColor }}"),
                {% else %}
                    "line-color": "{{ defaultColor }}",
                {% endif %}
                {% if widthProperty %}
                    "line-width": generatePropertyExpression("{{ widthType }}", "{{ widthProperty }}", {{ widthStops }}, {{ defaultWidth }}),
                {% else %}
                    "line-width": {{ defaultWidth }},
                {% endif %}
                "line-opacity": {{ opacity }}
            }
        }, "{{ belowLayer }}" );

        // Add label layer
        map.addLayer({
            "id": "label{{ layerId }}",
            "source": "data{{ layerId }}"",
            "type": "symbol",
            "layout": {
                {% if labelProperty %}
                "text-field": "{{ labelProperty }}",
                {% endif %}
                "text-size" : generateInterpolateExpression('zoom', [[0,8],[22,16]] ),
                "text-offset": [0,-1]
            },
            "paint": {
                "text-halo-color": "{{ labelHaloColor }}",
                "text-halo-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ labelHaloWidth }}], [18,5* {{ labelHaloWidth }}]]),
                "text-color": "{{ labelColor }}"
            }
        }, "{{belowLayer}}" );

        {% endblock linestring %}
        
        {% block linestring_popup %}

        // Create a popup
        var popup{{ layerId }} = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });

        // Show the popup on mouseover
        map.on('mousemove', "linestring{{ layerId }}", function(e) {
            map.getCanvas().style.cursor = 'pointer';
            
            let f = e.features[0];
            let popup_html = '<div>';

            for (key in f.properties) {
                popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
            }

            popup_html += '</div>'
            popup{{ layerId }}.setLngLat(e.lngLat)
                .setHTML(popup_html)
                .addTo(map);
        });

        {% endblock linestring_popup %}

        map.on('mouseleave', "linestring{{ layerId }}", function() {
            map.getCanvas().style.cursor = '';
            popup{{ layerId }}.remove();
        });
        
        // Fly to on click
        map.on('click', "linestring{{ layerId }}", function(e) {
            map.flyTo({
                center: e.lngLat,
                zoom: map.getZoom() + 1
            });
        });

    });

{% endblock extra_javascript %}
