{% extends "layer.html" %}

{% block extra_javascript %}

    map.on('style.load', function() {
        let params = {
            "type": "raster",
            "tiles": [
                 "{{ tiles_url }}"
            ],
            "tileSize": {{ tiles_size }},
            "minzoom": {{ tiles_minzoom }},
            "maxzoom": {{ tiles_maxzoom }}
        }
        if ({{ tiles_bounds }} !== undefined) params.bounds = {{ tiles_bounds }};

        map.addSource("raster-tiles{{ "rater-layer{{ layerId }}" }}", params);

        map.addLayer({
            "id": "rater-layer{{ layerId }}",
            "type": "raster",
            "source": "raster-tiles{{ "rater-layer{{ layerId }}" }}",
        }, "{{belowLayer}}" );

    });

{% endblock extra_javascript %}
