{% extends "main.html" %}

{% block javascript %}
mapboxgl.accessToken = '{{ accessToken }}';

var map = new mapboxgl.Map({
    container: 'map',
    style: {{ style }},
    center: {{ center }},
    zoom: {{ zoom }},
    transformRequest: (url, resourceType)=> {
        if ( url.slice(0,22) == 'https://api.mapbox.com' ) {
            //Add Python Plugin identifier for Mapbox API traffic
            return {
               url: [url.slice(0, url.indexOf("?")+1), "pluginName=PythonMapboxgl&", url.slice(url.indexOf("?")+1)].join('')
             }
         }
         else {
             //Do not transform URL for non Mapbox GET requests
             return {url: url}
         }
    }
});

map.addControl(new mapboxgl.NavigationControl());

document.getElementById('legend').style.visibility = 'hidden';

map.on('style.load', function() {
  console.log('Yoooooo');
    let params = {
        "type": "raster",
        "tiles": [
             "{{ tiles_url }}"
        ],
        "tileSize": {{ tiles_size }},
        "minzoom": {{ tiles_minzoom }},
        "maxzoom": {{ tiles_maxzoom }}
    }
    if ({{ tiles_bounds }} !== undefined) params.bounds = {{ tiles_bounds }};

    map.addSource("raster-tiles", params);

    map.addLayer({
        "id": "raster-tiles",
        "type": "raster",
        "source": "raster-tiles"
    }, "{{belowLayer}}" );

});

{% endblock %}
