{% extends "linestring.html" %}

{% block linestring %}

    {% if enableDataJoin %}

        // extract JSON property used for data-driven styling to add to popup
        {% if joinData %}

            let joinData = {{ joinData }};
            var popUpKeys = {},
                lineWidthPopUpKeys = {};

            // Create filter for layers from join data
            let layerFilter = ['in', "{{ vectorJoinDataProperty }}"]
            
            joinData.forEach(function(row, index) {

                {% if colorProperty %}
                    popUpKeys[row["{{ dataJoinProperty }}"]] = row["{{ colorProperty }}"];
                {% endif %}

                {% if widthProperty %}
                    {% if colorProperty != widthProperty %}
                        lineWidthPopUpKeys[row["{{ dataJoinProperty }}"]] = row["{{ widthProperty }}"];
                    {% endif %}
                {% endif %}

                layerFilter.push(row["{{ dataJoinProperty }}"]);
            });

        {% endif %}
    
    {% endif %}

    // Add vector data source
    map.addSource("vector-data", {
        type: "vector",
        url: "{{ vectorUrl }}",
    });

    // Add data layer from the vector tile source with data-driven style
    map.addLayer({
        "id": "linestring",
        "source": "vector-data",
        "source-layer": "{{ vectorLayer }}",
        "type": "line",
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            {% if lineDashArray %}
                "line-dasharray": {{ lineDashArray }},
            {% endif %}

            {% if enableDataJoin %}
                "line-color": ["case",
                    ["boolean", ["feature-state", "hover"], false], 
                    "{{ highlightColor }}", 
                    generatePropertyExpression('match', "{{ vectorJoinDataProperty }}", {{ vectorColorStops }}, "{{ defaultColor }}")],
                "line-width": generatePropertyExpression('match', "{{ vectorJoinDataProperty }}", {{ vectorWidthStops }}, {{ defaultWidth}} ),
            {% else %}
                {% if colorProperty %}
                    "line-color": ["case",
                        ["boolean", ["feature-state", "hover"], false], 
                        "{{ highlightColor }}", 
                        generatePropertyExpression("{{ colorType }}", "{{ colorProperty }}", {{ colorStops }}, "{{ defaultColor }}")],
                {% else %}
                    "line-color": ["case",
                        ["boolean", ["feature-state", "hover"], false], 
                        "{{ highlightColor }}", 
                        "{{ defaultColor }}"],
                {% endif %}
                {% if widthProperty %}
                    "line-width": generatePropertyExpression("{{ widthType }}", "{{ widthProperty }}", {{ widthStops }}, {{ defaultWidth }}),
                {% else %}
                    "line-width": {{ defaultWidth }},
                {% endif %}
            {% endif %}

            "line-opacity": {{ opacity }}
        }
        {% if enableDataJoin %}
        , filter: layerFilter
        {% endif %}
    }, "{{ belowLayer }}" );

    // Add label layer
    map.addLayer({
        "id": "linestring-label",
        "source": "vector-data",
        "source-layer": "{{ vectorLayer }}",
        "type": "symbol",
        "layout": {
            {% if labelProperty %}
            "text-field": "{{ labelProperty }}",
            {% endif %}
            "text-size" : generateInterpolateExpression('zoom', [[0, {{ labelSize }}],[22, 3* {{ labelSize }}]] ),
            "text-offset": [0,-1]
        },
        "paint": {
            "text-halo-color": "{{ labelHaloColor }}",
            "text-halo-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ labelHaloWidth }}], [18,5* {{ labelHaloWidth }}]]),
            "text-color": ["case",
                ["boolean", ["feature-state", "hover"], false], 
                "{{ highlightColor }}", 
                "{{ labelColor }}"]
        }
        {% if enableDataJoin %}
        , filter: layerFilter
        {% endif %}
    }, "{{belowLayer}}" );

{% endblock linestring %}

{% block linestring_popup %}

var hoveredStateId = 0;

    map.on(popupAction, function(e) {
        var features = map.queryRenderedFeatures(e.point, {layers: ['linestring', 'linestring-label'] });

        if (features.length > 0) {
            map.getCanvas().style.cursor = 'pointer';
            var f = features[0];
            newHoveredStateId = f.id;
            if (newHoveredStateId != hoveredStateId) {
                map.removeFeatureState({source: 'vector-data', sourceLayer: "{{ vectorLayer }}", id: hoveredStateId});
                hoveredStateId = newHoveredStateId;
            }
            map.setFeatureState({source: 'vector-data', sourceLayer: "{{ vectorLayer }}", id: hoveredStateId}, { hover: true});
            let popup_html = '<div>';

            for (key in f.properties) {
                popup_html += '<li><b> ' + key + '</b>: ' + f.properties[key] + ' </li>'
            }

            popup_html += '</div>'
            popup.setLngLat(e.lngLat)
                .setHTML(popup_html)
                .addTo(map);
        }
        else {
            map.getCanvas().style.cursor = '';
            popup.remove();
            map.removeFeatureState({source: 'vector-data', sourceLayer: "{{ vectorLayer }}", id: hoveredStateId});
        }
    });

{% endblock linestring_popup %}
